<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
				<rule name="Visualizar" stopProcessing="true">
                    <match url="ver_api/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="classes/consumir_api.php?metodo=GET&amp;id={R:1}" appendQueryString="false" />
				</rule>
				<rule name="Insertar" stopProcessing="true">
                    <match url="insertar_api" ignoreCase="false" />
                    <action type="Rewrite" url="classes/consumir_api.php?metodo=POST" appendQueryString="false" />
				</rule>
                <rule name="Modificar" stopProcessing="true">
                    <match url="modificar_api" ignoreCase="false" />
                    <action type="Rewrite" url="classes/consumir_api.php?metodo=PUT" appendQueryString="false" />
				</rule>
				 <rule name="Eliminar" stopProcessing="true">
                    <match url="eliminar_api/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="classes/consumir_api.php?metodo=DELETE&amp;eliminar_id={R:1}" appendQueryString="false" />
				</rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
